<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="My name is Sachin Meier. This is my Lightning Node Site.">
  <meta name="author" content="Sachin Meier">
  <meta name="keywords" content="Sachin, Meier, Georgetown, Computer, Lightning, Bitcoin.">
  <meta property="og:site_name" content="Sachin Meier">
  <meta property="og:image" content="http://www.sachinmeier.com/assets/pic.jpg">
  <meta property="og:title" content="Lightning Node - Sachin Meier">
  <meta name="twitter:title" content="Lightning Node - Sachin Meier">
  <meta name="twitter:site" content="@SachinMeier">
  <meta name="twitter:creator" content="@SachinMeier">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="http://www.sachinmeier.com/assets/pic.jpg">

  
  <title>Sachin Meier's Lightning Node</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/ln-site.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V5CVFLC59J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-V5CVFLC59J');
  </script>
  <script> 
    rudderanalytics=window.rudderanalytics=[];for(var methods=["load","page","track","identify","alias","group","ready","reset","getAnonymousId","setAnonymousId"],i=0;i<methods.length;i++){var method=methods[i];rudderanalytics[method]=function(a){return function(){rudderanalytics.push([a].concat(Array.prototype.slice.call(arguments)))}}(method)}rudderanalytics.load("1ovxO2sIQzhQp50dlyKt1UJolGZ","https://hosted.rudderlabs.com"),rudderanalytics.page();
  </script>
  <script src="https://cdn.rudderlabs.com/rudder-analytics.min.js"></script>
    
</head>
