<%- include('partials/header') -%>

<div class="image">
  <img class="pic" src="/assets/pic.jpg" alt="">
</div>

<div class="name">
  <p>About Me</p>
  <p>My name is Sachin Meier. I am a student in the School of Foreign Service at Georgetown University. 
    I am studying International Affairs, with minors in Computer Science and Arabic. I am interested
  in Cryptography and Monetary economics.</p>
  <p><a href="/assets/Resume_SM.pdf">Resume</a></p>
  <a href="https://www.linkedin.com/in/sachinmeier/"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://github.com/pillagr"><i class="fab fa-github"></i></a>
  <!-- <a href="https://angel.co/XXXXXX"><i class="fab fa-angellist"></i></a> -->
  <!-- <a href="https://twitter.com/XXXXX"><i class="fab fa-twitter"></i></a> -->
</div>

<%- include('partials/footer') -%>
