<%- include('partials/header') -%>

<div class="image">
  <img class="pic" src="/assets/pic.jpg" alt="">
</div>

<div class="name">
  <p>About Me</p>
  <p>My name is Sachin Meier. I am a student in the School of Foreign Service at Georgetown University. 
    I am studying International Affairs, with minors in Computer Science and Arabic. I am interested
  in Cryptography and Monetary economics.</p>
  <p><a href="/assets/Resume_SM.pdf">Resume</a></p>
  <p><a href="/assets/pubkey.asc">PGP: 59CF C3E8 1234 FBBE</a></p>
  <a href="https://www.linkedin.com/in/sachinmeier/"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://github.com/pillagr"><i class="fab fa-github"></i></a>
  <a href="https://www.youtube.com/channel/UC5YmLZdRK0MaQSMiBvty3uQ"><i class="fab fa-youtube"></i></a>
  <a href="https://twitter.com/Gtown_Bitcoin"><i class="fab fa-twitter"></i></a>
  <a href="https://drive.google.com/drive/folders/1w_Z9GkI15IZD3s7nIkcNgXw7BV-GstfX?usp=sharing"><i class="fab fa-google-drive"></i> </a>
  <!-- <a href="https://www.youtube.com/channel/UC5YmLZdRK0MaQSMiBvty3uQ"><img class="link" src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c545.png"></a> -->
  <!-- <a href="https://angel.co/XXXXXX"><i class="fab fa-angellist"></i></a> -->
  
</div>

<%- include('partials/footer') -%>
f