<%- include('partials/header') -%>
<%- include('partials/top') -%>

<div class="image">
  <img class="pic" src="/assets/pic.jpg" alt="">
</div>

<div class="name">
  <p>About Me</p>
  <p>My name is Sachin Meier. I am a student in the School of Foreign Service at Georgetown University. I am studying International Affairs, with minors in Computer Science and Arabic. I serve as the Founder and President of the <a href="https://learnbitcoin.info" class="intxt">Georgetown CryptocurrencyClub</a>and the Managing Editor of <a href="https://utraqueunum.org" class="intxt">Utraque Unum.</a>I currently work for <a href="https://river.com/" class="intxt">River Financial</a>, a Bitcoin brokerage.</p>
  <p><a href="/assets/Resume_SM.pdf">Resume</a></p>
  <p><a href="/assets/pubkey.asc">PGP: 59CF C3E8 1234 FBBE</a></p>
  <a target="_blank" href="https://www.linkedin.com/in/sachinmeier/"><i class="fab fa-linkedin-in"></i></a>
  <a target="_blank" href="https://github.com/SachinMeier"><i class="fab fa-github"></i></a>
  <a target="_blank" href="https://twitter.com/SachinMeier"><i class="fab fa-twitter"></i></a>
<!-- <a href="https://drive.google.com/drive/folders/1w_Z9GkI15IZD3s7nIkcNgXw7BV-GstfX?usp=sharing"><i class="fab fa-google-drive"></i> </a> -->
  <a target="_blank" href="https://river.com/learn/"><i class="fab fa-bitcoin"></i></a>
</div>

<%- include('partials/footer') -%>
