<%- include('partials/header') -%>
<%- include('partials/top') -%>

<div class="profile">
  <div class="image">
    <img class="pic" src="/assets/pic.jpg" alt="Sachin Meier headshot">
  </div>

  <div class="me">
    <h1 class="name">Sachin Meier</h1>
    <p>My name is Sachin Meier. I am a software engineer at <a href="https://river.com/signup?r=4JWADJTR" class="intxt">River Financial</a>where I focus on infrastructure. I enjoy programming, chess, and Bitcoin.</p>
    <p><a id="Resume" class="track" href="/assets/Resume_SM.pdf">Resume</a></p>
    <p><a id="PGP" class="track" href="/assets/pubkey.asc">59CF C3E8 1234 FBBE</a></p>
    <a id="LinkedIn" class="track linkedin-blue-hover" target="_blank" href="https://www.linkedin.com/in/sachinmeier/"><i class="fab fa-linkedin-in"></i></a>
    <a id="GitHub" class="track github-purple-hover" target="_blank" href="https://github.com/SachinMeier"><i class="fab fa-github"></i></a>
    <a id="Twitter" class="track twitter-blue-hover" target="_blank" href="https://twitter.com/SachinMeier"><i class="fab fa-twitter"></i></a>
    <a id="River Learn" class="track orange-hover" target="_blank" href="https://river.com/learn/"><i class="fab fa-bitcoin"></i></a>
    <a id="Lightning Node" class="track orange-hover" href="/lightning"><i class="fas fa-bolt"></i></a>
  </div>
</div>

<%- include('partials/footer') -%>
