<%- include('partials/ln-header') -%>

<body class="ln-node">
<%- include('partials/top') -%>
<h1>My Lightning Node</h1>
<div class="ln-node-details">
	<div class="ln-node-details-group">
		<div class="ln-qr-code qr-code">
			<img src="./assets/qr-code.png" alt="QR Code for Lightning Node">
		</div>

		<div class="ln-node-details-group__box node-name">
			<h3>Name</h3>

			<div class="copy-field-box">
				<div class="copy-field">
					<p>Broker615</p>
				</div>
			</div>
		</div>

		<div class="ln-node-details-group__box public-key">
			<h3>Public Key</h3>

			<div class="copy-field-box">
				<div class="copy-field">
					<p>
					034e639d18eabd05dfa7860c3505fe204799d6803c1b6b65c6f34aac83394c04c7</p>
				</div>
			</div>
		</div>

		<div class="ln-node-details-group__box address">
			<h3>Address</h3>

			<div class="copy-field-box">
				<div class="copy-field">
					<p>
					034e639d18eabd05dfa7860c3505fe204799d6803c1b6b65c6f34aac83394c04c7@3fpw545kjdfus5olwpf3ftci2ttfobdfhk6bf2r5ikwpxw6hizymcqid.onion:9735</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>
