<%- include('partials/header') -%>
<%- include('partials/top') -%>
<div class="store-head">
	<p class="title">
		My Store
	</p>
</div>
<div class="item">
	<div class="item-img-div">
		<img class="item-img" src="/assets/pic.jpg">
	</div>
	<div class="item-cap">
		A Pic of Me.
	</div>
	<div>
		<form action="">
			<button type="submit" class="buy">BUY: $1.50</button>
		</form>
	</div>
	
</div>
<div class="item">
	<div class="item-img-div">
		<img class="item-img" src="/assets/pic.jpg">
	</div>
	<div class="item-cap">
		A Pic of Me.
	</div>
	<div>
		<form action="">
			<button type="submit" class="buy">BUY: $2.50</button>
		</form>
	</div>
	
</div>
<div class="item">
	<div class="item-img-div">
		<img class="item-img" src="/assets/pic.jpg">
	</div>
	<div class="item-cap">
		A Pic of Me.
	</div>
	<div>
		<form action="">
			<button type="submit" class="buy">BUY: $2.50</button>
		</form>
	</div>
	
</div>



<%- include('partials/footer') -%>