<%- include('partials/header') -%>
<%- include('partials/top') -%>

<div class="store-head">
	<p class="title">
		My Store
	</p>
	<br><br>
	<p class="title">
		COMING SOON: <br>
		Want to be a merchant? contact me by <a href="mailto:spm116@georgetown.edu">email</a>
	</p>
</div>


<%- include('partials/footer') -%>
