/* TOP */
.top {
  text-align: right;
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 20px 40px;
}

.menu {
  position: relative;
  display: inline-block;
}

.bars {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  float: right;
}

.dropdown{
  display: none;
  width: 100px;
  background-color: black;
  margin-top: 30px;
  margin-left: -55px;
  padding: 10px 5px;
  position: absolute;
  color: white;
  /* border: solid white 2px; */
  z-index: 1;
}

.dropdown a{
  width: 80px;
  display: block;
  text-align: center;
  padding: 10px;
  /* padding-bottom: 5px; */
  margin-top: 0px;
  border-bottom: 2px solid white ;
  /* border: 2px solid white; */

}

.menu:hover .dropdown {
  display: block;

}


/* HOME */
body {
  background-color: black;
  margin: 0 0 5%;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: left;
  line-height: 1.5;
  font-size: 18px;
}
.intxt{
  text-decoration: underline;
}
.intxt:hover{
  text-decoration: none;
  color: grey;
}
a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: left;
  font-size: 18px;
  margin-right: 10px;
  /* margin-bottom: 1rem; */
}
a:hover{
  text-decoration: none;
  color: grey;
}
.pic {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
  /* background-color: red; */
  padding-top: 10%;
}
.name {
  color: white;
  margin-top: 0px;
  /* padding: 5%; */
  /* background-color: green; */
}
@media (min-width: 950px) {
  .image {
    float: left;
    width: 40%;
    padding-top: 100px;
  }

  .name {
    float: left;
    width: 60%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 12%;
  }
}


/* STORE */
.store-head {
  top: 0px;
  height: 100px;
}
.store-body {
  position: absolute;
  top: 150px;
}
p.title {
  text-align: center;
  font-size: 32px;
}
.item {
  display: inline-block;
  margin: 15px 10px;
  border: solid grey 2px ;
}
.item:hover {
  border: solid grey 4px;
}
.item-img-div{
  /* padding: 10%; */
  width: 200px;
}
.item-desc {
  color: white;
  height: 50px;
  padding: 10px;
}
.buy {
  margin-left: 50px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: grey;
}
.buy:hover {
  border: solid white 2px;
}
.itemtitle {
  color: white;
  text-align: center;
}

@media (min-width: 600px) {
  .item-img {
    width: 100%;
    height: 180px;
    /* padding: 10px; */
  }
}
div.inform {
  display: none;
  background-color: lightgrey;
  width: 40%;
  position: relative;
  padding: 20px;
  margin: auto;
  z-index: 1;
  border: 2px solid black;
  /* box-shadow: 5px 2px 10px darkgrey; */
}
div.innerform {
  padding: 10%;
}
p.information {
  float: center;
  color: black;
  margin-bottom: 0px;
}
input.inputform {
  float: center;
  border-color: black;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
input.submitbtn {
  float: center;
  background-color: black;
  border: 2px solid grey;
  color: white;
  margin-right: 15px;
}
button.cancelbtn {
  background-color: black;
  border: 2px solid grey;
  color: white;
}
p.disclaimer {
  font-size: 10px;
  color: black;
}
/* BTC BUTTON */
.btcpay-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;

} 
.btcpay-form--inline {
  flex-direction: row;
}
 .btcpay-form--block {
  flex-direction: column;
}
 .btcpay-form--inline .submit {
  margin-left: 15px;
}
 .btcpay-form--block select {
  margin-bottom: 10px;
}
 .btcpay-form .btcpay-custom {
  display: flex;
  align-items: center;
  justify-content: center;
}
 .btcpay-form .plus-minus {
  cursor:pointer;
  font-size:25px;
  line-height: 25px;
  background: #DFE0E1;
  height: 30px;
  width: 45px;
  border:none;
  border-radius: 60px;
  margin: auto 5px;
  display: inline-flex;
  justify-content: center;
}
 .btcpay-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: currentColor;
  background: transparent;
  border:1px solid transparent;
  display: block;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  cursor: pointer;
}
 .btcpay-form select:hover {
    border-color: #ccc;
}
 #btcpay-input-price {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  text-align: center;
  font-size: 25px;
  margin: auto;
  border-radius: 5px;
  line-height: 35px;
  background: #fff;
}



/* TEMP */
.title a{
  font-size: 32px;

  text-decoration: underline;
}
